html{
    scroll-behavior: smooth;
}

body{
  background-color: #ffb6c1;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  padding: 5px;
  text-align: center;
  background-color: #ffb6c1;
}

h2{
  font-size: 32px;
  line-height: 1;
  text-align: center;
}

main p{
  font-size: 25px;
  color: #014421;
  text-align: center;
  padding: 20px;
  background-color: #ffb6c1;
}

nav li{
  display:inline;
  padding-right:20px;

}

nav a{
  color: #014421;
  font-weight: bold;
  text-decoration: none;
  display: block;
  font-size: 15px;
}



nav a:hover{
  text-decoration: underline;
  color: #014421;
}

nav a.active-page
{
  background-color:#014421;
  color: white;
  font-size: 20px;
}


a.skip{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

a.skip:focus{
  color: #014421;
  top: 40px;
}


:focus{
  border-style: solid;
  border-width: 2px;
}


nav{
  background-color: #ccccff;
  padding: 25px 0; 
  text-align: center;
  position: relative;
}

.active{
  background-color: black;
  color: white;
}
footer{
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 14px
}


img{
  max-width: 245px;
  height: auto;
}

img:hover{
  border-style: dotted;
  border-color: white;
  border-width: 3px;
  filter: hue-rotate(90deg);
}

.container{
  display: grid;
  grid-template-columns: 245px auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-row-gap: 15px;
  
}

.aboutemma{
  display: grid;
  grid-template-columns: 245px auto;
  grid-template-rows: auto;
  column-gap: 10px;
  justify-items: center;
  align-items: center;
}

header{
  display: grid;  
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: #014421;
  height: 100px;                
  grid-column: 1 / -1;  
  grid-row: 1 / auto;   
}

header p{
  color: #014421;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

@keyframes emmafade {
  from {filter: opacity(0);}
  to {filter: opacity(100);}
}

.emma {
  animation-name: emmafade;
  animation-duration: 3s;
  display: grid;
  grid-column: 1 / 1;
  overflow: hidden;
}

.emmatext {
  display: grid;
  grid-column: 2 / span 1;
  border: 10px solid white;
  height: 100%;
  text-align: center;
  align-self: center;
  position: absolute;
}

.dispos1, .dispos2, .dispos3, .dispos4, .dispos5, .dispos6, .dispos7, .dispos8, .dispos9, .dispos10{
  
  display: grid;
  grid-column: 1 / 1;
  max-height: 700px;
  overflow: hidden;

}

.dispos1{
   
  display: grid;
  grid-row: 2 / span 1;
}

.dispos2{
  display: grid;
  grid-row: 3 / span 1;

}


.dispos3{
   
  display: grid;
  grid-row: 4 / span 1;

}


.dispos4{
    
    display: grid;
    grid-row: 5 / span 1;
}

.dispos5{
    
    display: grid;
    grid-row: 6 / span 1;
}

.dispos6{
    
    display: grid;
    grid-row: 7 / span 1;
}

.dispos7{
    
    display: grid;
    grid-row: 8 / span 1;
}

.dispos8{
   
    display: grid;
    grid-row: 9 / span 1;
}

.dispos9{
    
    display: grid;
    grid-row: 10 / span 1;
}

.dispos10{
    
    display: grid;
    grid-row: 11 / span 1;
}

.portraits{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.concerts{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: auto;
  align-content: space-around;
  margin: 2;
}

.text-block{
grid-column: 2 / span 1;
background-color: rgba(255, 255, 255, .8);
color: #014421;
  border: 10px solid white;
  height: 100%;
  text-align: center;
  align-self: center;
}

.texture{
  background-image: url("../images/paper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #dddddd;
  background-attachment: fixed;
  height: 1000px;
}

@media screen and (min-width: 768px){
  nav{
    padding: 30px 0px;
    text-align: right;
    /*Your code here:*/
  }

  img{
    max-width: 550px;
    height: auto;
  }

  .container{
    display: grid;
    grid-template-columns: 550px auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-row-gap: 15px;
  }
}

@media screen and (min-width: 1025px){
  nav{
    padding: 30px 0px;
    text-align: right;
    /*Your code here:*/
  }

  img{
    max-width: 700px;
    height: auto;
  }
  .container{
    display: grid;
    grid-template-columns: 700px auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    grid-row-gap: 15px;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  .emma{
    transition: none;
  }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}