html{
    scroll-behavior: smooth;
}

body{
  background-color: #ffb6c1;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav li{
  display:inline;
  padding-right:20px;

}

nav a{
  color: #014421;
  font-weight: bold;
  text-decoration: none; 
}

nav a{
  text-decoration: none
}

nav a:hover{
  text-decoration: underline;
  color: #014421;
}


.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  visibility: hidden;
  position: absolute;
  top: 40px;



}

.skip a:hover{
  visibility: visible
}


:focus{
  border-style: solid;
  border-width: 2px;
}


nav{
  background-color: #ccccff;
  padding: 25px 0; 
  text-align: left;
}

footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}


img{
  max-width: 350px;
  height: auto;
}

.container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-row-gap: 15px;
  /*Your Code Here*/
}

header{
  display: grid;
  background-attachment: fixed; /* Parallax effect */     
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: #014421;
  height: 400px;                /* Parallax effect */

  /*Your Code Here*/
  /*Set background-image to header.jpg */


  grid-column: 1 / -1;  /*Can you explain what this does?*/
  grid-row: 1 / auto;   /*Can you rewrite it?*/
}

header p{
  color: #014421;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}





.dispos1, .dispos2, .dispos3, .dispos4, .dispos5, .dispos6, .dispos7, .dispos8, .dispos9, .dispos10{
  /*Your Code Here*/
  display: grid;
  grid-column: 1 / 1;
  max-height: 700px;
  overflow: hidden;

}

.dispos1{
   /*Your Code Here*/
  display: grid;
  grid-row: 2 / span 1;
}

.dispos2{
  display: grid;
  grid-row: 3 / span 1;

}


.dispos3{
    /*Your Code Here*/
  display: grid;
  grid-row: 4 / span 1;

}


.dispos4{
    /*Your Code Here*/
    display: grid;
    grid-row: 5 / span 1;
}

.dispos5{
    /*Your Code Here*/
    display: grid;
    grid-row: 6 / span 1;
}

.dispos6{
    /*Your Code Here*/
    display: grid;
    grid-row: 7 / span 1;
}

.dispos7{
    /*Your Code Here*/
    display: grid;
    grid-row: 8 / span 1;
}

.dispos8{
    /*Your Code Here*/
    display: grid;
    grid-row: 9 / span 1;
}

.dispos9{
    /*Your Code Here*/
    display: grid;
    grid-row: 10 / span 1;
}

.dispos10{
    /*Your Code Here*/
    display: grid;
    grid-row: 11 / span 1;
}

.text-block{
display: grid;
grid-column: 2 / span 1;
background-color: rgba(255, 255, 255, .8);
color: #014421;
  border: 10px solid white;
  padding: 30px;
  text-align: center;
  align-self: center;

  /*Your code here:*/

}


/*You do not need to modify any code below this line.
It is included for accessibility to turn off animations
and movement for people who have modified their 
preferences to reduce motion.*/

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}
